@import "fonts";

// Material Design Light
@import "material_settings";
@import "mixins";

@import "resets/resets";
@import "typography/typography";
@import "palette/palette";
@import "ripple/ripple";
@import "animation/animation";
@import "badge/badge";
@import "button/button";
@import "card/card";
@import "checkbox/checkbox";
@import "chip/chip";
@import "data-table/data-table";
@import "dialog/dialog";
@import "footer/mega_footer";
@import "footer/mini_footer";
@import "icon-toggle/icon-toggle";
@import "list/list";
@import "menu/menu";
@import "progress/progress";
@import "layout/layout";
@import "radio/radio";
@import "slider/slider";
@import "snackbar/snackbar";
@import "spinner/spinner";
@import "switch/switch";
@import "tabs/tabs";
@import "textfield/textfield";
@import "tooltip/tooltip";
@import "shadow/shadow";
@import "grid/grid";


// Foundation
@import "foundation_settings";
@import "foundation";

// @include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-typography;
// @include foundation-forms;
// @include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-flex-classes;

@import "demo/table";

html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

textarea {
  width: 100%;
  border-color: #ccc;
  vertical-align: top;
  margin-bottom: 8px;
}

.container3 {
  width: 100%;
  padding: 16px 20px;
  position: relative;
  .mdl-data-table {
    width: 100%;
  }
}

.data-container3__form {
  height: 100%;
  textarea {
    height: calc(100% - #{36px + 8px});
  }
}

.data-container3__edit {
}

.data-container3-button {
  position: absolute;
  top: 0;
  border: none;
  padding: 3px 4px;
  cursor: pointer;
  background-color: transparent;
}

.data-container3-button__delete {
  right: 32px;
  color: #f44336;
}

.data-container3-button__edit {
  right: 0;
  color: #2196f3;
}

.mdl-textfield--add-cell {
  width: 30px;
}

.mdl-textfield__input--add-cell {
  text-align: center;
  border-color: #fff;
}
